<div class="hr-minecraft">
    <div class="middle"></div>
    <div class="bottom"></div>
</div>

<div class="container">
    <div class="row">
        <h1>Over2Station</h1>
    </div>

    <div *ngIf="status && status.source; then emissionInProgess else noEmission"></div>
    <ng-template #emissionInProgess>
        <div class="row">
            <span class="dot dot-green"></span> Emission en cours
        </div>
        <div class="row">
            <h1 class="o2s-title">
                {{status.source.length ? status.source[0].server_name : status.source.server_name}}
            </h1>
        </div>
    </ng-template>
    <ng-template #noEmission>
        <div class="row">
            <span class="dot dot-red"></span> Aucune émission en cours
        </div>
    </ng-template>
    <div class="row">
        <figure>
            <!-- Set different id to avoid audio cache -->
            <audio [id]="getRandomId()" controls [src]="'https://o2s.shyndard.eu/live.mp3?id=' + getRandomId()">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
    </div>
</div>

<div style="height: 25vh"></div>

<div style="position: fixed; bottom: 0; left: 0; right: 0; margin-bottom: -25px">
    <div class="hr-minecraft">
        <div class="top"></div>
    </div>
</div>