<div class="hr-minecraft">
  <div class="middle"></div>
  <div class="bottom"></div>
</div>

<div class="row">
  <div>
    <h2>Classement de richesse Freebuild (top 100)</h2>
    <table>
      <thead>
      <tr>
        <th>Position</th>
        <th>Pseudo</th>
        <th>Montant</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of money | keyvalue: originalOrder; let i=index">
        <td>#{{item.key}}</td>
        <td>{{item.value[0]}}</td>
        <td>{{transform(item.value[1])}} Overs</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="height: 25vh"></div>

<div style="position: fixed; bottom: 0; left: 0; right: 0; margin-bottom: -25px">
  <div class="hr-minecraft">
    <div class="top"></div>
  </div>
</div>
