<div id="particles-js"></div>

<div class="spacing"></div>

<div id="ip-address" class="">
  <span (click)="openTuto()" class="arrow">
    <span id="ip-address-text">
      Jouez maintenant en {{app.minecraftVersion}}<br>
      <span>
        <i class="fa fa-gamepad" aria-hidden="true"></i> over2craft.fr
      </span>
    </span>
  </span>
</div>

<div id="tuto">
  <div class="header" (click)="closeTuto()">
    <i class="fas fa-times"></i>
  </div>
  <div class="body">
    <div id="server-ip">
      <button (click)="copyIpAddress()" (mouseleave)="onMouseLeaveIpAddress()" data-text-swap="Copié ">Cliquez pour copier l'IP </button>
    </div>
    <div class="how-to-connect">
      <h1>Comment se connecter ?</h1>
      <img src="/assets/images/minecraft_home_page.png" alt="Page d'accueil du menu minecraft">
      <img src="/assets/images/minecraft_multiplayer.png" alt="Section multijoueur du menu minecraft">
      <img src="/assets/images/minecraft_addserver.png" alt="Section multijoueur et ajouter un serveur du menu minecraft">
    </div>
  </div>
</div>

<div id="copyright">
  Tout droit réservé © Over2Craft 2020-2021 <br/>
  contact@over2craft.com
</div>


<div id="welcome">
  <div>
    <span style="color: #AA0000">[Administrateur] Stalk3r77</span><span style="color: white">> Tu peux te connecter au serveur minecraft avec l'adresse <span style="color: #FFAA00">Over2Craft.fr</span></span>
  </div>
  <div>
    <span style="color: #AA00AA">[Premium] Yekinox</span><span style="color: white">> Nous sommes actuellement <span style="color: #5555FF">x joueurs</span> connecté(s) ! Le serveur est en 1.16.X </span>
  </div>
</div>
