<div id="loading-overlay">
  <div class="wrap">
    <div class="bounceball"></div>
    <div class="text">
      <div> Chargement...</div>
    </div>
  </div>
  <div class="minimal-info">
    <a href="http://over2craft.com/discord">Discord</a>
    <a> | Adresse IP de connexion over2craft.com | </a>
    <a href="mailto:contact@over2craft.com">contact@over2craft.com |</a>
    <a target="_blank" href="https://www.serveurs-minecraft.org/vote.php?id=9107"> votes | </a>
    <a href="http://www.serveurs-minecraft.org/">Serveur Minecraft</a>
  </div>
</div>

<div id="progress"></div>
