
<div id="background"></div>
<div id="dynmap-menu" class="row">
  <div class="col-3" (click)="switchDmap('https://dynmap.over2craft.com')">Freebuild Phenix</div>
  <div class="col-3" (click)="switchDmap('https://dynmap.over2craft.com/?worldname=world&mapname=surface&zoom=0&x=-957&y=64&z=-86')">Freebuild OverWorld</div>
  <div class="col-3" (click)="switchDmap('https://creadynmap.over2craft.com/')" >Créatif</div>
  <div class="col-3" (click)="switchDmap('https://crea3ddynmap.over2craft.com')" >Créatif 3D</div>
</div>
<iframe [src]="dynmapUrl" id="dynmap"></iframe>
