<div id="discord">
  <div id="discord-reduce-bar">
    <span id="discord-reduce-bar-less" (click)="closeDiscord()"><i class="fas fa-times"></i></span>
    <span id="discord-reduce-bar-plus" class="display-none" (click)="openDiscord()">Discord <i class="fas fa-plus"></i></span>
  </div>
  <iframe id="discord-iframe" src="https://discord.com/widget?id=477823211459837981&theme=dark" width="350" height="500" style="border:0;" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
