main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-left: 5vh;
  margin-right: 5vh;
}



@media only screen and (max-width : 1224px) {
  main {
    flex-direction: column;
    margin-top: 0;
  }

  main > div {
    width: 80vw;
  }
}

a {
  color: var(--font-color-light);
}

#vote-get-gift > div, main > div {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#vote-get-gift form {
  display: flex; /* equal height of the children */
}

#vote-get-gift .input-text, .submit-btn {
  flex: 1; /* additionally, equal width */
  border: solid;
  font-size: calc(var(--font-size) + 2px);
  color: var(--font-color-light);
  font-family: var(--font-family-primary);
  background: transparent;
  border: solid 3px;
  border-color: var(--font-color-light);
}

#vote-get-gift .input-text {
  border-radius: 15px 0 0 15px;
  border-right: 0;
  padding-left: 1rem;
  outline: 0;
}

#vote-get-gift .submit-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0 15px 15px 0px;
  border-left: 0;
}

#vote-get-gift .input-text:focus {
  outline: 0;
}

#vote-get-gift .submit-btn:focus {
  outline: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: calc(var(--font-size) - 2px);
}

main > div {
  margin-top: 10vh;
  word-break: break-word;
}

td, th {
  border: 1px solid var(--font-color-light);
  padding: 8px;
}

tr {
  background-color: var(--secondary-color);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: var(--minecraft-background);
  color: var(--font-color-light);
}
