<main>
  <div id="vote-get-gift">
    <div>
      <h2>Etape 1 : Votez pour Over2Craft</h2>
      <p>Cliquez sur le bouton "votez pour Over2Craft" <br> dans l'apperçu ci-desssous. <br> Si l'apperçu ne fonctionne pas, rendez-vous
        <a target="_blank" href="https://www.serveurs-minecraft.org/vote.php?id=9107#form_vote">ici</a></p>
      <iframe src="https://www.serveurs-minecraft.org/vote.php?id=9107#form_vote" frameborder="0" scrolling="no"></iframe>
    </div>
    <div>
      <h2>Etape 2 : Obtenir votre récompense</h2>
      <form>
        <input type="text" class="input-text" placeholder="pseudo">
        <button class="submit-btn"><i class="fas fa-check"></i></button>
      </form>
    </div>
  </div>
  <div id="vote-top-month">
    <h2>Classement de vote par mois</h2>
    <table>
      <thead>
      <tr>
        <th>Position</th>
        <th>Pseudo</th>
        <th>Montant</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="vote-top-all">
    <h2>Classement de vote total</h2>
    <table>
      <thead>
      <tr>
        <th>Position</th>
        <th>Pseudo</th>
        <th>Montant</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      <tr>
        <td>The table body</td>
        <td>with two columns</td>
        <td>with two columns</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
