<main>
  <div>
    <a href="https://www.paypal.com/donate?hosted_button_id=CYTW36URKFU9W" class="donate">Faire un don</a>
    <img id="minecraft-character" src="assets/images/dons.png" alt="Personne minecraft">
  </div>

  <div>
    <h1>Pourquoi les dons ?</h1>
    <p>Over2Craft est un serveur Minecraft Freebuild et Events en 1.16.X comunautaire. L'objectif pour les administrateurs est de rendre Over2Craft totalement autonome d'un point de vu hébergement, c'est à dire faire en sorte que les dons financent entièrement, à minima, les frais de location du/des serveur(s) dédié(s). </p>
    <p>Les dons servent uniquement à Over2craft. Aucun membre du staff ni administrateur ne perçoit de revenu. Tout travail pour Over2Craft est bénévol.</p>
    <p>Si les dons dépassent le coût d'hébergement d'Over2Craft, l'argent récolté sera utilisé pour développer Over2Craft (publicité, achat de plugins...)</p>
  </div>
  <div>
    <h1>Coût actuel d'Over2Craft</h1>
    <p>Over2Craft est actuellement hébergé par un serveur dédié et un serveur de stockage chez OneProvider. Le coût mensuel s'élève à 37.99€</p>
  </div>
  <div>
    <h1>Donnateurs</h1>
    <p> En faisant un don, vous pouvez indiquer votre pseudo minecraft en commentaire de la page paypal. Ainsi, nous pourrons afficher votre pseudo parmi la liste des donnateurs.
      Les donnateurs qui donnent les sommes les plus conséquentes seront distingués.</p>
    <ul>
    </ul>
  </div>

  <div>
    <h1>
      Merci !
    </h1>
    <p>
      Merci à tous ceux qui donnent, même les plus petites sommes. Over2Craft existe depuis plus de 10 ans, et nous souhaitons faire en sorte qu'il continu d'exister.
    </p>
  </div>
</main>
