<div class="nav animate__animated animate__bounce">
  <a class="nav-item-extend" (click)="toggleNav()"><i class="fas fa-bars"></i></a>
  <a routerLink="" class="nav-item-logo"><img src="assets/images/textcraft.png" alt="Page d'accueil" title="Page d'accueil"></a>
  <div id="nav-items">
    <a routerLink="vote" href="/vote" class="nav-item">Vote</a>
    <a routerLink="dynmap" href="/dynmap" class="nav-item">Dynmap</a>
    <a routerLink="money" href="/money" class="nav-item">Classement de richesse</a>
    <a routerLink="dons" href="/dons" class="nav-item">Dons</a>
    <a routerLink="rules" href="/rules" class="nav-item">Règlement</a>
    <a routerLink="bans" href="/bans" class="nav-item">Sanctions</a>
    <a routerLink="maps" href="/maps" class="nav-item">Maps</a>
    <!--<a class="nav-item">Classement de richesse</a>-->
    <!--<a class="nav-item">Maps</a>-->
    <a href="/forum/" target="_blank" class="nav-item">Archive du forum</a>
  </div>
</div>
