<div class="nav animate__animated animate__bounce">
  <a class="nav-item-extend" (click)="toggleNav()"><i class="fas fa-bars"></i></a>
  <a routerLink="" class="nav-item-logo"><img src="assets/images/textcraft.png" alt="Page d'accueil"
      title="Page d'accueil"></a>
  <div id="nav-items">
    <a [routerLinkActive]="['active']" href="http://financement.over2craft.com" target="_blank" class="nav-item">
      <span class="mc-icon mc-icon-experience_bottle"></span>
      Dons et boutique
    </a>
    <a routerLink="rules" [routerLinkActive]="['active']" href="/rules" class="nav-item">
      <span class="mc-icon  mc-icon-minecart_chest"></span>
      Wiki et Règlement
    </a>
    <a routerLink="vote" [routerLinkActive]="['active']" href="/vote" class="nav-item">
      <span class="mc-icon mc-icon-trip_wire_source"></span>
      Vote
    </a>
    <a routerLink="dynmap" [routerLinkActive]="['active']" href="/dynmap" class="nav-item">
      <span class="mc-icon mc-icon-map_filled"></span>
      Dynmap
    </a>
    <a routerLink="money" [routerLinkActive]="['active']" href="/money" class="nav-item">
      <span class="mc-icon mc-icon-gold_ore"></span>
      Classement de richesse
    </a>
    <a routerLink="maps" [routerLinkActive]="['active']" href="/maps" class="nav-item">
      <span class="mc-icon mc-icon-dirt_podzol_side"></span>
      Télécharger les maps
    </a>

    <!--<a class="nav-item">Classement de richesse</a>-->
    <!--<a class="nav-item">Maps</a>-->
    <!--<a href="/forum/" target="_blank" class="nav-item">
      <span class="mc-icon  mc-icon-book_writable"></span>
      Forum</a>-->
  </div>
</div>
