<div class="nav animate__animated animate__bounce">
  <a class="nav-item-extend" (click)="toggleNav()"><i class="fas fa-bars"></i></a>
  <a routerLink="" class="nav-item-logo"><img src="assets/images/textcraft.png" alt="Page d'accueil" title="Page d'accueil"></a>
  <div id="nav-items">
    <a routerLink="vote" [routerLinkActive]="['active']" href="/vote" class="nav-item">
      <span class="mc-icon mc-icon-trip_wire_source"></span>
      Vote
    </a>
    <a routerLink="dynmap" [routerLinkActive]="['active']" href="/dynmap" class="nav-item">
      <span class="mc-icon mc-icon-map_filled"></span>
      Dynmap
    </a>
    <a routerLink="money" [routerLinkActive]="['active']" href="/money" class="nav-item">
      <span class="mc-icon mc-icon-gold_ore"></span>
      Classement de richesse
    </a>
    <a routerLink="dons" [routerLinkActive]="['active']" href="/dons" class="nav-item">
      <span class="mc-icon mc-icon-experience_bottle"></span>
      Dons
    </a>
    <a routerLink="rules" [routerLinkActive]="['active']" href="/rules" class="nav-item">
      <span class="mc-icon mc-icon-book_enchanted"></span>
      Règlement
    </a>
    <a routerLink="bans" [routerLinkActive]="['active']" href="/bans" class="nav-item">
      <span class="mc-icon mc-icon-diamond_sword"></span>
      Sanctions
    </a>
    <a routerLink="maps" [routerLinkActive]="['active']" href="/maps" class="nav-item">
      <span class="mc-icon mc-icon-dirt_podzol_side"></span>
      Maps
    </a>
    <!--<a class="nav-item">Classement de richesse</a>-->
    <!--<a class="nav-item">Maps</a>-->
    <a href="/forum/" target="_blank" class="nav-item">
      <span class="mc-icon  mc-icon-book_writable"></span>
      Forum</a>
  </div>
</div>
